<footer class="footer">
    <div class="container">
      <div class="row gx-5 px-2">
        
            <div class="col-md-6 col-12 shadow mt-2">

              <h6><strong>Contact us</strong></h6>
              <p class="footertxt">Address : Unnat Bharat Abhiyan, IIT Jammu,
                Jagti Nagrota, Jammu<br>
                Phone : phone number
                <br>
                Email : email
              <p>

              </div>

            <div class="col-md-6 col-12 shadow mt-2">
              <h6><strong>Useful links</strong></h6>
              <ul class="links">
                <li><a href="https://www.iitjammu.ac.in/" class="footertxt">IIT Jammu</a></li>
                <li><a href="http://unnatbharatabhiyan.gov.in/" class="footertxt">UBA IIT Delhi</a></li>
                <li><a href="#" class="footertxt">Faculty</a></li>
              </ul>
            </div>


        <div class="col-md-6 shadow col-12 mt-2">
              <h6><strong>Social Media</strong></h6>
              <ul class="links">
                <li><a href="#" class="footertxt">Facebook</a></li>
                <li><a href="#" class="footertxt">Twitter</a></li>
                <li><a href="#" class="footertxt">LinkedIn</a></li>
                <li><a href="#" class="footertxt">Instagram</a></li>
              </ul>
            </li>
          
        </div>
        <div class="col-12 mt-2">
            <p class="text-uppercase text-center text-muted">Copyright © 2021 social welfare. All Rights Reserved.</p>
          </div>
      </div>
    </div>

  
  </footer>