<div class="container">
    <div class="row">
        <div class="col-md text-center">
            <img src="img/uba-logo.png" class="img-fluid shadow" alt="uba-logo">

        </div>
        <div class="col-md-8 col-12 mt-1">
            <a class="row" href="#">
                <div class="col text-center">
                    <h3 class="hindiname">उन्नत भारत अभियान</h3>
                    <h2 class="pagetitle">UNNAT BHARAT ABHIYAN</h2>
                    <p class="hindiname"><strong>शिक्षित भारत-स्वस्थ भारत- स्वच्छ भारत- स्वावलंबी भारत- संपन्न भारत
                    </strong></p>
                </div>
            </a>

        </div>
        <div class="col-md text-center mt-1">
            <img src="img/emblem.png" class="img-fluid" alt="emblem">

        </div>
    </div>
</div>