<div id="news" class="splide">
    <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev">
            <<
        </button>
        <button class="splide__arrow splide__arrow--next">
            >>
        </button>
    </div>
	<div class="splide__track">
		<ul class="splide__list eventsec shadow">
			<li class="splide__slide text-center ">
                <div class="card" style="background-image: url('');">
                    <div class="card-body">
                      <p class="card-text">content goes here</p>
                      <a href="#" class="btn btn-info">More</a>
                    </div>
                  </div>
			</li>
			<li class="splide__slide text-center"">
                <div class="card"  style="background-image: url('img/vmbanner.png');">
                    <div class="card-body">
             
                      <p class="card-text">content goes here</p>
                      <a href="#" class="btn btn-info">More</a>
                    </div>
                  </div>
			</li>
		</ul>
	</div>
</div>