<div class="container testimonial p-3">
    <div class="row">
        <h1 class="col text-center font-bolder pagetitle" style="color: #393232">
            Faculty
        </h1>
    </div>
    <div class="row">
        <% for(var i=0; i < 9; i++) { %>
      <div class="col-lg-4 col-md-6 col-12 mt-2">
        <div class="maincard p-3">
          <div class="thecard">
            <div class="thefront text-center py-1"> <img src="img/profile.jpeg" class="rounded-circle mt-5" width="100">
              <h3 class="mt-2 mb-0">Person Name</h3>
              <small class="user_name"><strong>Current position</strong></small>
            </div>
            <div class="theback py-3 px-3">
              <div class="quote mt-3">
                <h4><i class="fa fa-quote-left"></i></h4>
                <p class="about text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
