<div class="container mt-2">
    <div class="row">
        <div class="col-md-4 col-12 border shadow p-3">
            <marquee>
                <p>flash news goes here! | flash news goes here!</p>
            </marquee>
            <div class="row text-center">
                <div class="col-12 p-3 newshead">
                    Latest News!
                </div>
                <div class="col-12 p-3">
                    <%-include('news');%>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-12 p-3">
            <%-include('events');%>
        </div>
    </div>
</div>


